{% extends 'home.html' %}

{% block content %}
{% if flag %}
 Subject Not Found
 {% else %}
<div class="container">

<form class="form1" method="post">
    {% csrf_token %}
    <input  class="input-box" name="name" value='{{subject.s_name}}' placeholder="name">
    <input class="input-box"  name="desc" value='{{subject.s_desc}}' placeholder="desc">
    <input class="input-box"  style="display: none;" name="s_id" value="{{ request.GET.s_id }}">
    <button class="input-box"  type="submit">save </button>
</form>
</div>
{% endif %}
{{course.s_name}}
{% endblock %}
