{% extends 'home.html' %}

{% block content %}
<div class="container">
<form class="form1" method="post">
    {% csrf_token %}
    <input class="input-box"  name="name" value='{{course.c_name}}' placeholder="name">
    <input class="input-box"  name="desc" value='{{course.c_desc}}' placeholder="desc">
    <input  class="input-box" style="display: none;" name="c_id" value="{{ request.GET.c_id }}">
    <button class="input-box"  type="submit">save </button>
</form>
</div>
{{course.c_name}}
{% endblock %}
