{% extends 'home.html' %}

{% block content %}
{% if flag %}
 Part NOt Found
 {% else %}
<div class="container">

<form class="form1" method="post">
    {% csrf_token %}
    <input class="input-box"  name="name" value='{{part.p_name}}' placeholder="name">
    <input class="input-box"  name="desc" value='{{part.p_desc}}' placeholder="desc">
    <input  class="input-box" style="display: none;" name="c_id" value="{{ request.GET.p_id }}">
    <button  class="input-box" type="submit">save </button>
</form>
</div>
{% endif %}
{{part.p_name}}
{% endblock %}
