{% extends 'home.html' %}

{% block content %}
<div class="container">
 
 <form class='form1' method="post">
    {% csrf_token %}
    <input class="input-box" name="name"  placeholder="name">
    <input class="input-box" name="desc"  placeholder="desc">
    <input class="input-box" name="u_link"  placeholder="link">
    <input class="input-box" name="owner"  placeholder="owner of documents">
    <label for="course_select">Select Course:</label>
    <select class="input-box" id="course_select" name="u_course" class="form_select">
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.c_name }}</option>
        {% endfor %}
    </select>
    <label for="course_select">Select a Part:</label>
    <select class="input-box" id="course_select" name="u_part" class="form_select">
        {% for part in parts %}
            <option value="{{ part.id }}">{{ part.p_name }}</option>
        {% endfor %}
    </select>
    <label for="course_select">Select Subject:</label>
    <select class="input-box" id="course_select" name="u_subject" class="form_select">
        {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.s_name }}</option>
        {% endfor %}
    </select>
    {% comment %} <input style="display: none;" name="c_id" value="{{ request.GET.c_id }}"> {% endcomment %}
    <button class="input-box" type="submit">Create New unit</button>
</form>
</div>
{{course.s_name}}

 {% endblock %}