{% extends 'home.html' %}

{% block content %}
<div class="container">
<form class="form1" method="get" >
    {% csrf_token %}
    <label for="course_select">Select a Course:</label>
    <select class="input-box"  id="course_select" name="c_id" class="form_select">
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.c_name }}</option>
        {% endfor %}
    </select>
    <button class="input-box"  type="submit">Submit</button>
</form>
</div>
{% endblock %}
