{% extends 'home.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <h1>mjjjjjjjj</h1>
    <div class="panel">
        <table  class="table-bordered">
          <thead class="table-dark">
            
            <tr>
              <th >#</th>
              <th>Name</th>
              <th>Count</th>
              <!-- <th>Page</th> -->
              <th>owner</th>
              <th>subject</th>
              <th>course</th>
              <th>part</th>
              <th>Page</th>
            </tr>
          </thead>
          <tbody>
            {% for i in units %}
            
            <tr>
                <td >{{i.id}}</td>
                <td >{{i.u_name}}</td>
                <td>{{i.u_desc}}</td>
                <td>{{i.u_owner}}</td>
                <td>{{i.u_subject}}</td>
                <td>{{i.u_course}}</td>
                <td>{{i.u_part}}</td>
                <td><a href="{% url 'admin_unit_edit' i.id %}" class="btn btn-primary">
                    Edit Unit
                  </a></td>
            </tr>
            <tr>
                <td colspan="24">{{i.u_link}}</td>
            </tr>
            {%  endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
<!-- 
{% load static %}
<h1> admin </h1>  
kkkkkk {{cust}}
{% for i in cust %}
hhhh
{{i}}<br>
{% endfor %} -->

<!-- <form method="get" >
    {% csrf_token %}
    <label for="course_select">Select a Subject:</label>
    <select id="course_select" name="s_id" class="form_select">
        {% for subject in units %}
            <option value="{{ subject.id }}">{{ subject.u_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form> -->

{% endblock %}
