{% extends 'home.html' %}

{% block content %}
<div class="container">

<form class="form1" method="get" >
    {% csrf_token %}
    <label for="course_select">Select a Subject:</label>
    <select class="input-box" id="course_select" name="s_id" class="form_select">
        {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.s_name }}</option>
        {% endfor %}
    </select>
    <button class="input-box" type="submit">Submit</button>
</form>
</div>
{% endblock %}
