{% extends 'home.html' %}

{% block content %}
<div class="container2">
{% for unit in units %}
<div  onclick="window.location.href='/reader/{{unit.id}}'" class="service-box">
    <div class="service-icon">icon</div>
    <div class="service-title"><b style="color: rgb(201, 45, 34);"> {{unit.u_name}}</b></div>
    <div class="service-desc"><a style="color: rgb(0, 0, 0);">{{unit.u_desc}}<b> </b></div>

    <div class="service-desc"><b style="color: rgb(45, 119, 115);">By: {{unit.u_owner}}</b></div>
    <div class="service-desc"><b style="color: rgb(188, 27, 209);">class: {{unit.course.c_name}}-{{unit.part.p_name}}</b></div>
    <div class="service-desc"><b style="color: rgb(81, 84, 247);">Subject: {{unit.subject.s_name}}</b></div>
    
</div>
{% endfor Z%}
</div>
{% endblock %}
