{% extends 'home.html' %}

{% block content %}

        
<div style="display: flex;
        justify-content: center;">
    <form class="form1" method="post">
        <input type="text" id="searchBox" class="form-control mb-4 input-box " placeholder="Search by Name or Address..." style="width: 100%;">
        
    </form></div>
        <!-- Units Grid Container -->
        <div id="unitsContainer" class="grid-container">
            {% for unit in units %}
                <div onclick="window.location.href='/reader/{{unit.id}}'" class="card unit" 
                     data-name="{{unit.u_name}}" data-address="{{unit.u_desc}}"
                     data-course ='{{unit.course.c_name}}'
                     data-subject ='{{unit.subject.s_name}}'
                     data-part ='{{unit.part.p_name}}'
                     >
                    <h5>{{unit.u_name}}</h5>
                    <small>{{unit.u_desc}}</small><br><br>
                    <small>{{unit.course.c_name}} - {{unit.part.p_name}} { {{unit.subject.s_name}} }</small>
                </div>
            {% endfor %}
        </div>

<!-- Include JavaScript for Live Search -->
<script>
    document.getElementById('searchBox').addEventListener('input', function () {
        const searchTerm = this.value.toLowerCase(); // Get the search input value
        const units = document.querySelectorAll('.unit'); // Select all cards with the class "unit"

        units.forEach(unit => {
            const name = unit.getAttribute('data-name').toLowerCase(); // Get the "data-name" attribute
            const address = unit.getAttribute('data-address').toLowerCase(); // Get the "data-address" attribute
            const course = unit.getAttribute('data-course').toLowerCase(); // Get the "data-address" attribute
            const part = unit.getAttribute('data-part').toLowerCase(); // Get the "data-address" attribute
            const subject = unit.getAttribute('data-subject').toLowerCase(); // Get the "data-address" attribute

            // Check if the search term matches the name or address
            if (name.includes(searchTerm) || address.includes(searchTerm) || part.includes(searchTerm) || subject.includes(searchTerm) || course.includes(searchTerm)){
                unit.style.display = 'block'; // Show matching cards
            } else {
                unit.style.display = 'none'; // Hide non-matching cards
            }
            
        });
    });
</script>
{% endblock %}
